.fill__heart {
  width: max-content;
  padding: 2px;
  cursor: pointer;
  position: relative;
  left: 85%;
  bottom: 15%;
  transform: scale(0.7);
}
.fill__heart:hover .fill {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  background: -webkit-linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes fill {
  0% {
    transform: scale(0);
  }
  50% {
  }
  100% {
    transform: scale(1);
  }
}
